.button {
  text-decoration: none;
  max-width: auto;
  background-color: lightcoral;
  color: rgb(255, 255, 255);
  padding: 15px ;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover,
.button:active {
  box-shadow: 0 32px 32px 0 rgb(132 144 255 / 30%);
  transform: scale(0.96);
}

.button a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}
