.main-header {
    padding: 0 4.8rem;
    height: 10rem;
    background-color: rgb(226, 235, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  
  .logo {
    height: 15rem;
  }
  